---js
const eleventyNavigation = {
	key: "Home",
	order: 0
};

const numberOfLatestPostsToShow = 5;
---
{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}

<section class="about">
    <h2>About Me</h2>
    <p>Hi! I’m a Machine Learning Engineer based in Germany🇩🇪, currently working on ML projects with RNA sequences🧬. Here I share insights on machine learning, AI, and everyday learnings. <a href="/about">Read more →</a></p>
</section>
<h1>Recent</h1>

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="blog.njk">the archive</a>.</p>
{% endif %}

{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}
