---
permalink: /sitemap.xml
layout: false
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xhtml="http:/$
{%- for page in collections.all %}
        {% set absoluteUrl %}{{ page.url | htmlBaseUrl(metadata.url) }}{% endse$
        <url>
                <loc>{{ absoluteUrl }}</loc>
                <lastmod>{{ page.date | htmlDateString }}</lastmod>
        </url>
{%- endfor %}
</urlset>
